html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
blockquote,
pre,
a,
code,
img,
svg,
small,
strike,
strong,
sub,
sup,
b,
u,
i,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside,
canvas,
input,
footer,
header,
nav,
section,
time,
video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}
img,
svg {
  max-width: 100%;
  display: block;
  height: auto;
  width: 100%;
  border: 0;
}
a:active {
  -webkit-transition: none !important;
  transition: none !important;
}
@font-face {
  font-family: "lft";
  src: url("/fonts/e-thin-1207d5a0.eot?#iefix");
  src: url("/fonts/e-thin-1207d5a0.eot?#iefix") format("eot"),
    url("/fonts/e-thin-b77d85dd.woff2") format("woff2"),
    url("/fonts/e-thin-10fdbcf4.ttf") format("truetype"),
    url("/fonts/e-thin-73352416.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "lft";
  src: url("/fonts/e-bold-2b51aa16.eot?#iefix");
  src: url("/fonts/e-bold-2b51aa16.eot?#iefix") format("eot"),
    url("/fonts/e-bold-32f29328.woff2") format("woff2"),
    url("/fonts/e-bold-cf611537.ttf") format("truetype"),
    url("/fonts/e-bold-0c04ffeb.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "agp";
  src: url("/fonts/g-8cf32c3a.eot?#iefix");
  src: url("/fonts/g-8cf32c3a.eot?#iefix") format("eot"),
    url("/fonts/g-47866178.woff2") format("woff2"),
    url("/fonts/g-6bd5449e.ttf") format("truetype"),
    url("/fonts/g-bd7106ca.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "agp";
  src: url("/fonts/g-italic-d1f36d39.eot?#iefix");
  src: url("/fonts/g-italic-d1f36d39.eot?#iefix") format("eot"),
    url("/fonts/g-italic-331508ce.woff2") format("woff2"),
    url("/fonts/g-italic-fc679660.ttf") format("truetype"),
    url("/fonts/g-italic-7a414034.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "agp";
  src: url("/fonts/g-bold-da186346.eot?#iefix");
  src: url("/fonts/g-bold-da186346.eot?#iefix") format("eot"),
    url("/fonts/g-bold-37ab4335.woff2") format("woff2"),
    url("/fonts/g-bold-600ce2ff.ttf") format("truetype"),
    url("/fonts/g-bold-ac23ca94.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
::-moz-selection {
  background: rgba(255, 109, 91, 0.99) none;
  text-shadow: none;
  color: #fff;
}
::selection {
  background: rgba(255, 109, 91, 0.99) none;
  text-shadow: none;
  color: #fff;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
h1::selection,
h2::selection,
h3::selection,
h1 a::selection {
  -webkit-text-stroke: 1px #000;
  color: #fff !important;
  background: transparent;
}
::selection:window-inactive {
  background: rgba(0, 0, 0, 0.3);
}
html {
  background: #f2f2f2;
  min-width: 320px;
}
html,
body {
  height: 100%;
}
#wrapper {
  margin: 0 auto -2.3em;
  background: #fff;
  position: relative;
  max-width: 1920px;
  min-height: 100%;
  overflow: hidden;
  z-index: 1;
}
.ie #wrapper {
  max-width: 700px;
}
.push {
  height: 2.3em;
}
main {
  max-width: 29.11392em;
  margin: -4.5em auto 0;
  position: relative;
  padding: 0 0 3em;
  min-height: 10em;
  display: block;
  z-index: 11;
  width: 88%;
  *zoom: 1;
}
main:before,
main:after {
  content: "";
  display: table;
}
main:after {
  clear: both;
}
.ie main {
  margin-top: -8em;
  *top: -8em;
}
@media screen and (min-width: 350px) {
  main {
    margin-top: -4.75em;
  }
}
@media screen and (min-width: 370px) {
  main {
    margin-top: -5em;
    width: 85%;
  }
}
@media screen and (min-width: 400px) {
  main {
    margin-top: -6em;
  }
}
@media screen and (min-width: 440px) {
  main {
    margin-top: -7em;
  }
}
@media screen and (min-width: 500px) {
  main {
    margin-top: -8em;
    width: 80%;
  }
}
@media screen and (min-width: 540px) {
  main {
    margin-top: -9em;
  }
}
@media screen and (min-width: 600px) {
  main {
    position: relative;
    margin-top: -10em;
    padding: 0 0 6em;
    z-index: 11;
  }
}
@media screen and (min-width: 700px) {
  main {
    margin-top: -11em;
  }
}
@media screen and (min-width: 740px) {
  main {
    margin-top: -10em;
  }
}
@media screen and (min-width: 760px) {
  main {
    margin-top: -11em;
  }
}
@media screen and (min-width: 770px) {
  main {
    width: 78%;
  }
}
@media screen and (min-width: 800px) {
  main {
    margin-top: -7em;
  }
}
@media screen and (min-width: 870px) {
  main {
    margin-top: -8em;
  }
}
@media screen and (min-width: 1150px) {
  main {
    margin-left: 16.5%;
    margin-top: -9em;
    width: 50.1%;
  }
}
@media screen and (min-width: 1250px) {
  main {
    margin-top: -10.3em;
  }
}
@media screen and (min-width: 1350px) {
  main {
    max-width: 29.36em;
    margin-top: -11em;
    padding: 0 0 5em;
  }
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font: 400 125%/1.3 "agp", "Adobe Garamond Pro", "Adobe Garamond", Garamond,
    "Times New Roman", Times, serif;
  background: transparent;
  color: #000;
}
@media (min-width: 540px) {
  body {
    line-height: 1.4;
  }
}
@media (min-width: 740px) {
  body {
    font-size: 135%;
  }
}
@media (min-width: 800px) {
  body {
    font-size: 145%;
  }
}
@media (min-width: 1350px) {
  body {
    font-size: 150%;
  }
}
article p,
article ul,
article ol,
.archive a,
article table,
.copyright {
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "liga", "clig", "onum";
  -webkit-font-feature-settings: "liga", "clig", "onum";
  font-feature-settings: "liga", "clig", "onum";
}
a {
  letter-spacing: -0.015em;
  text-decoration: none;
  color: #000;
}
article a,
ul.archive a {
  letter-spacing: 0;
}
.no-onum {
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "onum" 0;
  -webkit-font-feature-settings: "onum" 0;
  font-feature-settings: "onum" 0;
}
p a,
main .read-the-article,
main ul a,
main ol a {
  text-shadow: 0.04545em 0 0 #fff, 0.09091em 0 0 #fff, 0.13636em 0 0 #fff,
    -0.04545em 0 0 #fff, -0.09091em 0 0 #fff, -0.13636em 0 0 #fff,
    0 0.04545em 0 #fff, 0 0.09091em 0 #fff, 0 -0.04545em 0 #fff,
    0 -0.09091em 0 #fff;
  background-image: -webkit-linear-gradient(gray, gray);
  background-image: -moz-linear-gradient(gray, gray);
  background-image: -ms-linear-gradient(gray, gray);
  background-image: linear-gradient(gray, gray);
  background-position: 0 1.05455em;
  background-size: 1px 1px;
  background-repeat: repeat-x;
}
p a:hover,
main .read-the-article:hover,
main ul a:hover,
main ol a:hover {
  text-shadow: 0.04545em 0 0 #fff, 0.09091em 0 0 #fff, 0.13636em 0 0 #fff,
    -0.04545em 0 0 #fff, -0.09091em 0 0 #fff, -0.13636em 0 0 #fff,
    0 0.04545em 0 #fff, 0 0.09091em 0 #fff, 0 -0.04545em 0 #fff,
    0 -0.09091em 0 #fff;
  background-image: -webkit-linear-gradient(#ff6d5b, #ff6d5b);
  background-image: -moz-linear-gradient(#ff6d5b, #ff6d5b);
  background-image: -ms-linear-gradient(#ff6d5b, #ff6d5b);
  background-image: linear-gradient(#ff6d5b, #ff6d5b);
  background-position: 0 1.05455em;
  background-size: 2px 2px;
  background-repeat: repeat-x;
}
p a:active,
main .read-the-article:active,
main ul a:active,
main ol a:active {
  color: #4d4d4d;
}
p a.read-the-article,
main .read-the-article.read-the-article,
main ul a.read-the-article,
main ol a.read-the-article {
  position: relative;
}
p a.read-the-article span,
main .read-the-article.read-the-article span,
main ul a.read-the-article span,
main ol a.read-the-article span {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: #fff url("/img/arrow-1157d2f5.svg") no-repeat right bottom;
  background-size: 0.6em 0.6em;
  display: inline-block;
  text-indent: -2em;
  overflow: hidden;
  position: absolute;
  height: 1.1em;
  width: 1em;
}
.ie p a,
.ie9 p a,
.underline p a,
.ie main .read-the-article,
.ie9 main .read-the-article,
.underline main .read-the-article,
.ie main ul a,
.ie9 main ul a,
.underline main ul a,
.ie main ol a,
.ie9 main ol a,
.underline main ol a {
  text-decoration: underline;
}
@media (min-width: 1500px) {
  p a,
  main .read-the-article,
  main ul a,
  main ol a {
    text-shadow: 0.04545em 0 0 #fff, 0.09091em 0 0 #fff, 0.13636em 0 0 #fff,
      -0.04545em 0 0 #fff, -0.09091em 0 0 #fff, -0.13636em 0 0 #fff,
      0 0.04545em 0 #fff, 0 0.09091em 0 #fff, 0 -0.04545em 0 #fff,
      0 -0.09091em 0 #fff;
    background-image: -webkit-linear-gradient(gray, gray);
    background-image: -moz-linear-gradient(gray, gray);
    background-image: -ms-linear-gradient(gray, gray);
    background-image: linear-gradient(gray, gray);
    background-position: 0 1.09091em;
    background-size: 1px 1px;
    background-repeat: repeat-x;
  }
  p a:hover,
  main .read-the-article:hover,
  main ul a:hover,
  main ol a:hover {
    text-shadow: 0.04545em 0 0 #fff, 0.09091em 0 0 #fff, 0.13636em 0 0 #fff,
      -0.04545em 0 0 #fff, -0.09091em 0 0 #fff, -0.13636em 0 0 #fff,
      0 0.04545em 0 #fff, 0 0.09091em 0 #fff, 0 -0.04545em 0 #fff,
      0 -0.09091em 0 #fff;
    background-image: -webkit-linear-gradient(#ff6d5b, #ff6d5b);
    background-image: -moz-linear-gradient(#ff6d5b, #ff6d5b);
    background-image: -ms-linear-gradient(#ff6d5b, #ff6d5b);
    background-image: linear-gradient(#ff6d5b, #ff6d5b);
    background-position: 0 1.09091em;
    background-size: 2px 2px;
    background-repeat: repeat-x;
  }
}
h1 {
  text-rendering: optimizeLegibility;
  margin: 2.25em 0 0.5em -0.02em;
  font: 700 150%/1.15 "lft", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.015em;
  padding-bottom: 0.05em;
  -webkit-mask-image: url("/img/mask-eea06722.png");
  -webkit-mask-size: 30%;
  -webkit-mask-repeat: repeat;
  color: #212121;
}
.nomask h1 {
  -webkit-mask-image: none;
}
.webkit h1 {
  text-rendering: auto;
}
.opera-mini h1 {
  margin: 1.75em 0 0.4em -0.02em;
  font-size: 200%;
}
@media (min-width: 400px) {
  h1 {
    font-size: 175%;
  }
}
@media (min-width: 440px) {
  h1 {
    font-size: 200%;
  }
}
@media (min-width: 520px) {
  h1 {
    line-height: 1.125;
    font-size: 225%;
  }
}
@media (min-width: 600px) {
  h1 {
    font-size: 250%;
  }
}
@media (min-width: 1350px) {
  h1 {
    font-size: 265%;
  }
}
h1 a,
h1 a:hover {
  letter-spacing: -0.015em;
  color: #212121;
}
h1 a:active {
  color: #404040;
}
h2,
h3,
h4,
h5,
h6 {
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "onum" 0;
  -webkit-font-feature-settings: "onum" 0;
  font-feature-settings: "onum" 0;
  font: 700 112.5%/1.2 "lft", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2em 0 0.8em -0.02em;
  text-transform: capitalize;
  position: relative;
  color: #212121;
}
@media (min-width: 600px) {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 125%;
  }
}
@media (min-width: 800px) {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.88em;
    font-size: 140%;
  }
}
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-weight: 200;
}
h3 {
  margin: 1.35em 0 0.77em;
  font-size: 100%;
}
@media (min-width: 800px) {
  h3 {
    margin: 2em 0 1em;
  }
}
h4 {
  font-size: 82.5%;
}
h5 {
  margin: 2em 0 1.5em;
  font-size: 62.5%;
}
h6 {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  border-bottom: 1px solid #e6e6e6;
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 1em;
  margin-top: 5em;
  font-size: 12px;
}
time {
  color: gray;
  margin: -0.64em 0 1em 0.1em;
  letter-spacing: -0;
}
